@model IEnumerable<Expenses.Common.Models.Expense>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DocumentType.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpenseType.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentType.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Request.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vendor.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpenseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DocumentNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmountIVA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmountPercepcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImagePath)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DocumentType.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpenseType.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentType.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Request.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vendor.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpenseDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DocumentNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AmountIVA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AmountPercepcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImagePath)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ExpenseId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ExpenseId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ExpenseId })
        </td>
    </tr>
}

</table>
