@model Expenses.Common.Models.ExpenseDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ExpenseDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DocumentType.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentType.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Expense.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Expense.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpenseType.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpenseType.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentType.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentType.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vendor.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vendor.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpenseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpenseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocumentNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AmountIVA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmountIVA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AmountPercepcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmountPercepcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImagePath)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ExpenseDetailId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
